.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gray: hsl(0, 0%, 59%);
    --dark-blue: hsl(209, 33%, 12%);
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    text-align: center;
}

.header > h1 {
    font-size: 40px;
    font-weight: 300;
    color: var(--gray);
    margin: 30px 0;
}

.header > h1 > span {
    font-weight: 700;
    color: var(--dark-blue);
}

.header > p {
    color: var(--gray);
    margin: 30px 0;
}

input[type="email"] {
    padding: 15px 230px 15px 20px;
    border-radius: 25px;
    border: 1px solid var(--gray);
    color: var(--gray);
    opacity: 0.7;
  }

.btn {
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
    background: var(--blue);
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
  }

.dashboard {
    margin: 70px auto;
    width: 700px;
}


.social {
    display: flex;
    justify-content: center;
    text-align:center;
    margin: 50px 0;
}

.social li {
    background-color: transparent;
    line-height: 0;
    margin-right: 10px;
}

.social li a i {
    width: 45px;
    height: 45px;
    line-height: 2;
    border: 1px var(--gray) solid;
    border-radius: 50%;
    color: var(--blue);
}

.social li a i:hover {
    background-color: var(--blue);
    color: white;
    border: none;
}


footer > p {
    color: var(--gray);
    font-size: 15px;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .header > h1 {
        font-size: 22px;
    }

    .header > .logo {
        margin: 40px 0;
    }     

    .header > p {
        font-size: 15px;
    }

    input[type="email"] {
        padding: 15px 150px 15px 20px;
        border-radius: 25px;
        border: 1px solid var(--gray);
    }

    .btn {
        padding: 15px 129px;
        margin-left: 0;
        margin-top: 20px;
    }

    .dashboard {
        margin: 50px auto;
        width: 334px;
    }

}